<navbar></navbar>
<div class="about-container container">
  <h1 class="header">Who am I?</h1>
  <h2 class="header">I'm a Software Engineer based in rainy Seattle</h2>
  <h3 class="header">
    I enjoy turning problems into beautiful solutions. When I'm not coding
    you'll find me running, hiking or playing with my dog Boomer.
  </h3>
  <div class="row traveling">
    <div class="col-md-7">
      <h3>Traveling</h3>
      <p>
        I made the decsion to become a Software Engineer while traveling around
        the United States
      </p>
      <ul class="dashed">
        <li>Hiked the Grand Canyon from rim to rim</li>
        <li>Ran with wild horses</li>
        <li>Worked on a cattle ranch</li>
      </ul>
    </div>
    <div class="col-md-4">
      <div class="image-card">
        <img src="../../../assets/img/connor_boomer.jpg" alt="" />
      </div>
    </div>
  </div>
  <div class="row hobbies">
    <div class="col-md-4">
      <div class="image-card">
        <img src="../../../assets/img/marathon.jpg" alt="" />
      </div>
    </div>
    <div class="col-md-7 hobbies">
      <h3>Hobbies</h3>
      <p>Yes, I do have a life outside of programming</p>
      <ul class="dashed">
        <li>Hiked the Grand Canyon from rim to rim</li>
        <li></li>
      </ul>
    </div>
  </div>
</div>
<footer></footer>
