.about-container {
    margin: 120px auto;
}

h1 {
    text-align: center;
    margin: 3em;
    text-decoration: underline;
}

h2 {
    color: #36454F;
    padding-top: 40px;
}

h3 {
    font-size: 20px;
}

.header {
    margin-bottom: 1em;
}

.image-card {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    width: 100%;
}

.col-md-4 img {
    background: #353A40;
}

img {
    padding: 2em;
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    border: 1px solid lightgray
}

.row {
    margin: 2em 0px;
    padding: 1.5em;
    border: 1px solid lightgray;
    background: #F0FFF0;
}

.col-md-7 {
    margin: auto;
}

.traveling {
    border-radius: 15px 50px;
}

.hobbies {
    border-radius: 50px 15px;
    margin-left: auto;
}

ul.dashed {
    list-style-type: none;
}

ul.dashed>li {
    text-indent: -5px;
}

ul.dashed>li:before {
    content: "-";
    text-indent: -5px;
}