<nav class="navbar navbar-expand-lg navbar-light bg-dark static-top">
  <a class="navbar-brand" routerLinkActive="active" routerLink="/home">
    Connor McCarthy
  </a>

  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{ show: navbarOpen }">
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/skills"
          >Skills</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="../../../assets/docs/resumeConnorMcCarthy.pdf"
          target="_blank"
          >Resume</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/about"
          >About</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLinkActive="active"
          href="mailto:connormccarthy8@gmail.com?Subject=Hello"
          target="_top"
        >
          Email Me</a
        >
      </li>
    </ul>
  </div>
</nav>
