<navbar></navbar>
<div class="animated fadeInDown">
  <div class="personal-logo">
    <img src="https://i.imgur.com/KAY54J5.png" alt="" />
  </div>
  <div class="container">
    <div class="info subtitle work">
      <span> <p class="who-am-i">Who am I?</p> </span>
    </div>
    <div class="row">
      <div class="code col-md-6">
        <h3>< Developer></h3>
        <p>
          Front End Web Developer who focuses on writing dry, polished &
          beautiful code
        </p>
      </div>
      <div class="design col-md-6">
        <h3>< Designer></h3>
        <p>
          Passionate about UX/UI to bring intutive beautiful responsive website
          to users
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 summary"><h3>Recent Work</h3></div>
    </div>
    <div class="row">
      <div
        class="col-md-4 box-shadow-transition box-shadow-below box-shadow-below-hover"
      >
        <div class="card">
          <div class="img-container">
            <h3 class="work-title">Chat Application</h3>
            <a href="https://chat-c2a64.firebaseapp.com/login" target="_blank"
              ><img
                class="work-img"
                src="../../../assets/img/chat-icon.png"
                alt="chat icon"
            /></a>
          </div>
        </div>
      </div>
      <div
        class="col-md-4 box-shadow-transition box-shadow-below box-shadow-below-hover"
      >
        <div class="card">
          <div class="img-container">
            <h3 class="work-title">Clock Management</h3>
            <a
              href="https://github.com/akjolilgiz/ClockManagementCshap"
              target="_blank"
              ><img
                class="work-img"
                src="../../../assets/img/clock.png"
                alt=" clock icon"
            /></a>
          </div>
        </div>
      </div>
      <div
        class="col-md-4 box-shadow-transition box-shadow-below box-shadow-below-hover"
      >
        <div class="card">
          <div class="img-container">
            <h3 class="work-title">Tap Room</h3>
            <a href="https://github.com/Connor85/TapRoomReact" target="_blank">
              <img
                class="work-img"
                src="../../../assets/img/beer.png"
                alt="beer icon"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer></footer>
