<div class="animated fadeInUp">
  <navbar></navbar>
  <div class="container">
    <h1>Skills</h1>
    <div class="grid">
      <div class="image-card">
        <img
          class="logo-img"
          src="../../../assets/img/javascript.png"
          alt="JavaScript Logo"
        />
        <p class="skill-name">JavaScript</p>
      </div>
      <div class="image-card">
        <img
          class="logo-img"
          src="../../../assets/img/angular.svg"
          alt="JavaScript Logo"
        />
        <p class="skill-name">Angular</p>
      </div>
      <div class="image-card">
        <img
          class="logo-img"
          src="../../../assets/img/react.png"
          alt="ReactJS logo Logo"
        />
        <p class="skill-name">ReactJS & React Native</p>
      </div>
      <div class="image-card">
        <img
          class="logo-img"
          src="../../../assets/img/Csharp.png"
          alt="C# Logo"
        />
        <p class="skill-name">C#</p>
      </div>
      <div class="image-card">
        <img
          class="logo-img"
          src="../../../assets/img/dotnet.png"
          alt="Dot Net Logo"
        />
        <p class="skill-name">.NET</p>
      </div>
      <div class="image-card">
        <img
          class="logo-img"
          src="../../../assets/img/jest.png"
          alt="Jest Logo"
        />
        <p class="skill-name">Jest</p>
      </div>
      <div class="image-card">
        <img
          class="logo-img"
          src="../../../assets/img/html.png"
          alt="HTML Logo"
        />
        <p class="skill-name">HTML</p>
      </div>
      <div class="image-card">
        <img
          class="logo-img"
          src="../../../assets/img/css.svg"
          alt="CSS Logo"
        />
        <p class="skill-name">CSS</p>
      </div>
      <div class="image-card">
        <img
          class="logo-img"
          src="../../../assets/img/firebase.png"
          alt="Firebase Logo"
        />
        <p class="skill-name">Firebase</p>
      </div>
      <div class="image-card">
        <img
          class="logo-img"
          src="../../../assets/img/aws.png"
          alt="Firebase Logo"
        />
        <p class="skill-name">AWS</p>
      </div>
    </div>
  </div>
</div>
