#content {
    margin-top: 60px;
    margin-bottom: 20vh;
}

h1 {
    text-align: center;
    margin: 3em;
    text-decoration: underline;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
}

.grid .image-card {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    width: 200px;
    height: 300px;
    width: 100%;
    background: #666666;
}

img.logo-img {
    padding: 2em;
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.skill-name {
    text-align: center;
    vertical-align: middle;
    font-family: "Arial Black", Gadget, sans-serif;
}

.image-card .skill-name {
    position: relative;
    bottom: 30px;
    left: 0px;
    visibility: hidden;
}

.image-card:hover .skill-name {
    visibility: visible;
}

.grid .image-card:hover {
    background: #F0FFF0;
}

.box-shadow-transition {
    -webkit-transition: all 0.50s ease-in-out;
    -moz-transition: all 0.50s ease-in-out;
    -ms-transition: all 0.50s ease-in-out;
    -o-transition: all 0.50s ease-in-out;
}

.box-shadow-below {
    -webkit-box-shadow: 0 8px 12px -6px black;
    -moz-box-shadow: 0 8px 12px -6px black;
    box-shadow: 0 8px 12px -6px black;
}

.box-shadow-below-hover:hover {
    -webkit-box-shadow: 0 12px 18px -6px black;
    -moz-box-shadow: 0 12px 18px -6px black;
    box-shadow: 0 12px 18px -6px black;
}

a:hover {
    text-decoration: underline;
    color: black;
}